<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🔧 Tab 3: Selección Preventiva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Sugerencias para Placa: {{ placa }} ({{ kilometraje }} KM)</h4>
  <p style="color: #666; font-size: 13px;">Marque los rubros iniciales que autoriza el cliente:</p>
  
  <ion-list>
    <ion-item *ngFor="let s of serviciosSugeridos">
      <ion-checkbox [(ngModel)]="s.seleccionado" labelPlacement="end">
        {{ s.descripcion }} <strong>(${{ s.valor.toFixed(2) }})</strong>
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="success" style="margin-top: 20px;" (click)="pasarAlDetalleTab4()">
    CONTINUAR A LIQUIDACIÓN (TAB 4)
  </ion-button>
</ion-content>